/* Section Commentaires */
.ajoutcomms{
    border: 5px solid  darkred;
    border-radius : 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    background-color: rgb(25, 25, 25);
}
/* Commentary Form */
#sendCommentaryForm{
    color: azure;
}