
@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat:300,400,500,600,700,800,900|Quicksand:300,400,500,600,700&display=swap');
html {
  height: 100vh;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transform: translate(0, 0);
  transition: transform 700ms ease-in-out;
}

.list-container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#movieList {
  list-style: none;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: rgb(58, 114, 114);
  border-radius: 5px;
}

#movieList > li {
  height: 300px;
  width: 200px;
  margin: 10px;
  position: relative;
}

select {
  border-radius: 5px;
  background-color: rgb(222, 56, 56);
  color: white;
  border: none;
  padding: 5px 10px 5px 10px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

#search {
  border-radius: 5px;
  background-color: rgb(222, 56, 56);
  color: white;
  border: none;
  padding: 5px 40px 5px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  outline: none;
}

#search::placeholder {
  color: white;
  opacity: 1;
}

.filters {
  position: relative;
}

.filters img {
  position: absolute;
  height: 30px;
  left: 430px
}

#movieList li img {
  border-radius: 5px;
  height: 300px;
  width: 200px;
  cursor: pointer;
}

#movieList li img:hover {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.6);
  height: 306px;
  width: 202px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(54, 57, 57, 0.9);
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(222, 56, 56); 
  border-radius: 10px;
}

header {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.one {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 30vw;
  transform: translate(-0%, -65%) rotate(70deg);
  background-color: rgba(60, 140, 140, 0.5);
  border: 2px solid rgba(250, 250, 250, 0.5)
}

.two {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 30vw;
  transform: translate(-30%, -50%) rotate(45deg);
  background-color: rgba(60, 140, 140, 0.5);
  border: 2px solid rgba(250, 250, 250, 0.5)
}

.three {
  position: absolute;
  left: 0;
  top: 0;
  height: 130vh;
  width: 30vw;
  transform: translate(-60%, -20%) rotate(20deg);
  background-color: rgba(60, 140, 140, 0.5);
  border: 2px solid rgba(250, 250, 250, 0.5)
}

h1 {
  position: absolute;
  top: 3vh;
  left: 1vw;
  color: white;
  z-index: 2;
  font-size: 7vh;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.7);
}

.arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 120px;
}

section {
  height: 100vh;
  background-color: rgb(20, 68, 68);
  display: flex;
  justify-content: center;
}

.connexion {
  position: fixed;
  top: 40px;
  right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: white;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  z-index: 5;
  outline: none;
  transform: translate(0, 0);
  transition: transform 500ms ease-in-out;
}

.connexion:hover {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.3);
  padding: 6px 12px 6px 12px;
}

.connexion-container {
  position: fixed;
  z-index: -1;
  top: 74px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  padding: 10px;
  background-color: white;
  transform: translate(0, 0);
  transition: transform 500ms ease-in-out;
}

.form-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 170px;

}

.form-input {
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
}

.log-button {
  border: none;
  background-color: black;
  color: white;
  font-size: 17px;
  height: 30px;
  width: 80px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.forgot {
  border: none;
  background-color: black;
  color: white;
  font-size: 13px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.switch-connexion {
  border: none;
  background-color: black;
  color: white;
  font-size: 13px;
  height: 30px;
  width: 164px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: -1;
  top: 74px;
  right: 50px;
  height: 180px;
  padding: 10px;
  background-color: white;
  transform: translate(0, 0);
  transition: transform 500ms ease-in-out;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 170px;
}

.register-button {
  border: none;
  background-color: black;
  color: white;
  font-size: 17px;
  height: 30px;
  width: 164px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.admin {
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 0;
}

.admin:visited {
  color:inherit;
}