/*Le boutton qui permet d'accèder au form connexion*/
.idenTification{
    width: 10%;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 80%;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    
}

/*Formulaire connexion*/
.inscrConncet{
    width: 250px;
    height: 200px;
    margin-top: 1rem;
    margin-left: 80%;
    margin-bottom: 2rem;
    display: none;
    
}

/*Fieldset*/
.inscrConncet .toutLeform{
    border: none;
    background-color: #e2e2e2;
    width: 250px;
    height: 200px;
}

/*Input pseudo et password*/
.lePseudo, .lePass{
    width: 97%;
    height: 2rem;
    border: none;
    background-color: #000;
    color: #fff;
}

/*boutton connect et deconnect*/
.leNnvoi, .laDeconnect{
    width: 48%;
    height: 2rem;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/*leMessage*/
.leMessage{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*lostPassword*/
.lostP{
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    cursor: pointer;
    color: teal;
}

/*Liens de retour vers la page connexion*/
.retourConnex{
    border: none;
    background-color: transparent;
}



/*MovieList*/
#movieList {
  list-style: none;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

#movieList > li {
  height: 300px;
  width: 200px;
  margin: 10px;
  position: relative;
}

#movieList li img {
  border-radius: 5px;
  height: 300px;
  width: 200px;
  cursor: pointer;
}

#movieList li img:hover {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.8);
  height: 306px;
  width: 202px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(54, 57, 57, 0.9);
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(222, 56, 56); 
  border-radius: 10px;

}